/* Reset CSS */
* {padding: 0; margin: 0;}
a{
    color:black !important;
}
body {font-family: Helvetica Neue; font-size: 14px; color: #555; padding-top: 2.5em;}
/* width */
.panel::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
#dropdown {
  width: 200px
}
#dropdown li{
  list-style:none;
/*  line-height: 30px;*/
/*  margin: 2px;*/
}
#confirm{
  background-color: #588cc5;
  color: white;
}
 .i-right{
  margin-right: 5px;
}
#dropdown li a{
  margin-left: 10px;
  color: #FFF;
  text-decoration: none;
}
.show-rack{
  height: 95vh;
  overflow-y: auto;
}
#dropdown ul{
  display:none;
  padding: 0px;
  background: pink
}
 
#dropdown ul li{
  background-color: #ccc;
  border-radius: 5px;
}
.main-bar{
    margin-bottom: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    display: flex;
}
.location{
  flex-grow: 1;
  font-size: 14px;
}
.bar-center{
  flex-flow: 1;
}
.option_box{
  flex-grow: 1;
/*  justify-content: safe flex-end;*/
/*  align-items: flex-end;*/
float: right;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.panel::-webkit-scrollbar-thumb {
  background: #6280a7cf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mg0 {
  margin:0px !important;
  padding:0px !important;
}
h1, h2, h3, h4, h5, h6 {font-weight: 100;}
input, textarea, a, button {outline: 0;}
a {text-decoration: none}
ul li {list-style: none;}
.clearfix {clear: both;}
.danger {background-color: #d9534f;}
.success {background-color: #5cb85c}
 
/* Navbar */
.main-navbar {padding: 15px; text-align: center; border-bottom: 1px solid #e5e5e5;}
.main-navbar h1 {color: #428bca;}
.navbar{

  padding: 0rem 1rem 0.2rem 1rem!important;
}
/* Form Login & Register */

.box-join {text-align: center; padding: 20px 10px;}
#formJoin .data-input {display: block; margin: auto; margin-top: 10px; padding: 8px 7px; border: 1px solid #ccc; font-size: 14px; width: 300px; color: #555; max-width: calc(100% - 16px);}
#formJoin .btn-submit {margin-top: 10px; padding: 8px 15px; background-color: #428bca; color: #fff; border: 1px solid #428bca; font-size: 14px; }
#formJoin .btn-submit:hover {cursor: pointer; opacity: 0.9;}
#formJoin .alert {color: #fff; width: 300px; padding: 8px 7px; margin: auto; margin-top: 10px; text-align: left; display: none;}

/* Menu */
.main-menu {padding: 10px 5%; border-bottom: 1px solid #e5e5e5; width: 90%; position: fixed; background-color: #fff;}
.main-menu h1 {color: #428bca; display: inline-block;}
.main-menu a {display: inline-block; float: right; color: #555; font-size: 14px; margin-left: 15px;}

/* Form chat */
.box-chat {position: fixed; bottom: 0; width: 100%; border-top: 1px solid #e5e5e5;}
#formSendMsg input[type=text] {width: calc(100% - 20px); padding: 10px; font-size: 14px; color: #555; border: 0;}
 
/* Show chat */
.main-chat {height: auto; padding: 67px 10px 38px 10px;}
.main-chat .msg-user {width: 100%; text-align: right; margin-bottom: 10px;}
.main-chat .msg-user p {background-color: #428bca; color: #fff; display: inline-block; padding: 10px; font-size: 14px;}
.main-chat .msg {width: 100%; text-align: left; margin-bottom: 10px;}
.main-chat .msg p {background-color: #f1f1f1; color: #555; display: inline-block; padding: 10px; font-size: 14px;}
.main-chat .msg-user .info-msg-user,
.main-chat .msg .info-msg {font-size: 14px; color: #666; margin-top: 5px;}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.menu-admin a{
  margin-left: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.padding-menu {
  padding: 0rem 0.5rem !important; 
}
.padding-0 {
  padding: 0rem 0rem !important; 
}
/*.menu-admin a:hover{
    border-bottom: 2px solid #9b9b9b;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f5f5f5;
}*/

.menu-admin a:hover{
    color: #588cc5 !important;

}
.menu-actived{
    border-bottom: 2px solid #9b9b9b;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f5f5f5;
}
.logo-ad{
  font-size: 15px;
  color: #588cc5;
  font-weight: 500;
  opacity: 75%;
}
.logo-ad:hover{
  opacity: 100;
}
.logo-ad i{
  padding-right: 0.3rem;
}
.user{
  font-size: 12px;
  color: #6280a7cf;
}
.user i{padding-right: 0.5rem;}
.navbar-right{margin-right: 0 !important;}
.hide-left{
    padding: 0em 0.3em;
    border: none;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: white;
    color: #6280a7cf;
    font-size: 16px;
}

.panel{
    margin-bottom: 3px;
    background-color: #fff;
    border-bottom: 1px solid #6280a7cf;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel-heading-content{
  color: #ffffff;
    background-color: #588cc5;
    border-color: #588cc5;
    border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
}
.title_box{
  float: left;

}
.option_box{
  margin-right: 5px;
  
}
.option_box i{
  float: right;
   cursor: pointer;
  font-size: 12px;
  margin-right: 8px;
  border: 1px solid #b7b7b7;
  border-radius: 50px;
  padding:3px;
  box-sizing: border-box;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.option_box i:hover{
  color: #588cc5;
  background-color: white;

}
.panel-heading{
  color: #ffffff;
    background-color: #588cc5;
    border-color: #588cc5;
    border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.panel-alert{
    color: #ffffff;
    background-color: #588cc5;
    border-color: #588cc5;
    border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.tit-table{
  background-color: #e9f4ff;
  padding: 0.2em;
  color: #588cc5;
  border-top-right-radius: 90%;
  max-width: 30%;
  border-bottom: 1px solid;

}
.i-right{
  padding-right: 0.5em;
  padding-left: 0.2em;
}
.panel-body{
    resize: vertical;
    /*overflow-y: 100%;*/
    overflow-y: auto;
    height: 90%;
   max-height: 35em;
}
.treejs .treejs-nodes{
  padding-left: 5px !important;
}
.resouce-rack{
  height: 53vh;
}

.filters-rack{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 15vh;
}
.action-rack{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 15vh;
}
.filters-his{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45vh;
}
.filters-main{
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30vh;
}

.left-filter{
  font-weight: 500;
  width: 18%;
  max-width: 40%;
  resize: both;
  border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: auto;
    padding-bottom: 1em !important;
}
.body-right{
  width: 82%;
  min-width: 50%;
  max-width: 100%;
  resize: horizontal;
  border-bottom: 1px solid #588cc5;
  border-left: 1px solid #588cc5;
  border-radius: 3px;
  overflow: auto;
  padding-bottom: 1em !important;
}

.left-filter2{
  font-weight: 500;
  width: 10%;
  max-width: 40%;
  resize: both;
  border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: auto;
    padding-bottom: 1em !important;
}
.body-right2{
  width: 90%;
  min-width: 50%;
  max-width: 100%;
  resize: horizontal;
  border-bottom: 1px solid #588cc5;
  border-left: 1px solid #588cc5;
  border-radius: 3px;
  overflow: auto;
  padding-bottom: 1em !important;
}

.left-filter1{
  font-weight: 500;
  width: 20%;
  max-width: 40%;
  resize: both;
  border-bottom: 1px solid #588cc5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: auto;
    padding-bottom: 1em !important;
}
.body-right1{
  width: 80%;
  min-width: 50%;
  max-width: 100%;
  resize: horizontal;
  border-bottom: 1px solid #588cc5;
  border-left: 1px solid #588cc5;
  border-radius: 3px;
  overflow: auto;
  padding-bottom: 1em !important;
}


.appy-filter{
  float: right;
  margin-top: 10px !important;
  margin-right: 3px;
  font-weight: 500 !important;
}

.mgl-5{
  margin-left: 0.05em;
}
.mgt-5{
  margin-top: 0.2em;
}
.panel-body-content{
  font-size: 14px;
  margin-top: 0.2em;
}
.copyright {
  font-size:11px;
}
table thead {
  background-color: #588cc5;
  color: white;
  width: 100%;
}
.dataTables_scrollBody{
  max-height: 70vh !important;
}
.tt{
  color: red !important;
}

.theah{
  background-color: #588cc5 !important;
  color: white !important;
}
.compareBom .title_box{
  width: 100%;
  background-color: #588cc5;
  color: white;
  border-right: 1px solid white;
  text-align: center;
}
.bTable {

  background-color: #d1a046;
}
.aTable {

  background-color: #b55d5d;
}
.sameTable {

  background-color: #519351;
}
.sameCodeTable {

  background-color: #53779f;
}
.dt-button{
  padding: 0.2em 0.2em !important;
  border: 1px dashed #588cc5 !important;
  border-radius: 5px !important;
}
.ft {
  background-color: #24701f;
  color: white;
  display: flex;
  margin-right: 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 15em;
  cursor: pointer;
}
.ft_left{
  display: flex;
  font-size: 14px;
  float: left;
  align-items: center;
  margin: 1em;
  flex-flow: 3;
  min-width: 30%;
}
.ft_right{
  display: flex;
  flex-flow: 1;
  border-left: 1px solid #878787;
  border-radius: 3px;
  margin: 1em;
  padding: 2em;
  align-items: center;
}
.sub-content{
  font-size: 14px;

}
.big-title{
  font-size:3em;
  color:#588cc5;
  border-bottom: 1px solid #588cc5;
  border-radius: 3px;
  font-weight: 500;
}
/*.detailTable{
  height: 15em;
  max-height: 15em;
}*/
.yellowClass{
  background-color: #40403d;
  color:white;
}
.redClass{
  background-color: red;
  color:white;
}
.blueClass{
  background-color: blue;
  color:white;
}
.greenClass{
  background-color: green;
  color:white;
}
.orangeClass{
  background-color: orange;
  color:white;
}
.redClass{
  background-color: red;
  color:white;
}
.f-14{
  font-size: 16px;
  padding: 0 3px;
  margin-right: 5px;
}
.notice{
  height: 20px;
}

.menu{
  display: flex;
}
.mg-left-10{
  margin-left: 10px;
}
.btn_act{
  padding-top: 0.5em !important; 
  background-color: #588cc5 !important;
  color: white !important;
}

.max-text tr td{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.mg-bot-10{
  margin-bottom: 10px;
}

.mg-bot-15{
  margin-bottom: 15px;
}

.mg-top-10{
  margin-top: 10px;
}

.mg-top-15{
  margin-top: 15px;
}

.middle tr td{
  vertical-align: middle !important;
}

.middleTH tr th{
  vertical-align: middle !important;
  background-color: #588cc5;
  color: white;
}

.name-table{
  color: #588cc5;
  font-size: 20px;
  font-weight: bold;
}

.w-60{
  width: 56% !important;
}

.w-40{
  width: 44% !important;
}

.bold{
  font-weight: bold;
}
.width-input{
  width: 100%;
}

.modal-content{
  width: 130% !important;
}

.modal-dialog{
  margin-left: 15rem !important;
}

.zoom-print{
  line-height: 0.9;
  font-size: 9px;
}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

#formMuonWip{
  transition: 0.25s;
}

#formMuonWip:hover{
  transform: scale(0.95);
}

#formTraWip{
  transition: 0.25s;
}

#formTraWip:hover{
  transform: scale(0.95);
}

#formUnplan{
  transition: 0.25s;
}

#formUnplan:hover{
  transform: scale(0.95);
}

.td-text{
  font-size: 14px;
  font-weight: bold;
}

.table-bordered.border-dam th, .table-bordered.border-dam td{
   border: 2px solid black !important;
}